# Donwload Texas hospitals dataset

Click this link https://www.dshs.texas.gov/THCIC/Hospitals/Download.shtm and accept the terms and conditions.
Then a list of available files are displayed, including files describing them.
Download the Base Data #1 for the first quarter of 2015 (https://www.dshs.state.tx.us/thcic/hospitals/Data/PUDF_base1_1q2015/)
The fields are explained here: https://www.dshs.state.tx.us/thcic/hospitals/UserManual1Q2015.pdf

In [6]:
import zipfile, json
import pandas as pd

In [2]:
#Load data
columns_names = ['RECORD_ID',
                 'DISCHARGE', 
                 'TYPE_OF_ADMISSION',
                 'SOURCE_OF_ADMISSION',
                 #'PAT_STATE', #State of the patient’s mailing address in Texas and contiguous states #only US after droping NAs
                 'PAT_ZIP',#Patient’s five-digit ZIP code
                 #'PAT_COUNTRY', #Country of patient’s residential address # only TX after droping NAs
                 'PUBLIC_HEALTH_REGION', #Public Health Region of patient’s address
                 'PAT_STATUS', #Code indicating patient status as of the ending date of service for the period of care reported
                 'SEX_CODE',
                 'RACE',
                 'ETHNICITY',
                 'LENGTH_OF_STAY',
                 'PAT_AGE', #Code indicating age of patient in days or years on date of discharge. 
                 'PRINC_DIAG_CODE', #diagnosis code for the principal diagnosis
                 'E_CODE_1', #external cause of injury
                 'PRINC_SURG_PROC_CODE', #Code for the principal surgical or other procedure performed during the period covered by the bill           
                 'RISK_MORTALITY', #Assignment of a risk of mortality score from the All Patient Refined (APR) Diagnosis Related Group (DRG) 
                 'ILLNESS_SEVERITY',#Assignment of a severity of illness score from the All Patient Refined (APR) Diagnosis RelatedGroup (DRG
                ]
# read the dataset using the compression zip
df = pd.read_csv('../../../PUDF_base1_1q2015_tab.zip',
                 compression='zip',
                 #header = None, 
                 sep = '\t',
                 usecols=columns_names,
                )

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (4,5,12,16,18,19,22,84) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.dropna(inplace=True)

In [4]:
df

,RECORD_ID,DISCHARGE,TYPE_OF_ADMISSION,SOURCE_OF_ADMISSION,PAT_ZIP,PUBLIC_HEALTH_REGION,PAT_STATUS,SEX_CODE,RACE,ETHNICITY,LENGTH_OF_STAY,PAT_AGE,PRINC_DIAG_CODE,E_CODE_1,PRINC_SURG_PROC_CODE,RISK_MORTALITY,ILLNESS_SEVERITY
518,120150533595,2015Q1,2,4,77541,6.0,01,F,4,1,54.0,9,51881,E8709,3393.0,3,4
520,120150532399,2015Q1,3,2,77568,6.0,03,M,3,2,28.0,17,1440,E8798,252.0,4,4
522,120150531425,2015Q1,2,4,77340,6.0,`,M,3,2,122.0,14,99662,E8782,3950.0,4,4
525,120150531671,2015Q1,5,1,77511,6.0,63,M,4,2,37.0,14,8600,E8120,7815.0,4,4
526,120150531686,2015Q1,5,1,77539,6.0,01,M,4,1,60.0,8,80126,E8160,3404.0,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760888,120151233281,2015Q1,1,6,77011,6.0,01,F,5,1,5.0,13,99859,E8788,8628.0,1,1
760889,120151233313,2015Q1,1,1,77418,6.0,01,F,4,2,5.0,9,0389,E8788,8604.0,1,2
760890,120151233315,2015Q1,1,1,77043,6.0,01,M,4,2,3.0,14,99813,E8788,8309.0,1,2
760893,120151233443,2015Q1,1,1,76137,3.0,06,F,4,2,4.0,15,41519,E8788,3491.0,3,3
760928,120151233524,2015Q1,1,1,76137,3.0,01,F,4,2,3.0,13,53989,E8782,9904.0,1,2

In [7]:
df.to_json('../../texas_data.json')